:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  position: relative;
  overflow: auto;
  scrollbar-gutter: stable;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  padding: 8px;
}

.cart-list__empty {
  text-align: center;
  margin-top: 16px;
}

.total-price {
  text-align: right;
  width: 100%;
  background: white;
  margin-left: auto;
  position: sticky;
  bottom: 0;
  padding-top: 8px;
}
