:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: auto;
  gap: 16px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  min-height: fit-content;
}
